fastapi==0.95.2
uvicorn==0.23.0
python-dotenv==1.0.0
pydantic==1.10.8
langchain==0.0.267
astrapy==0.7.0
tiktoken==0.4.0
openai==0.28.1
typing-inspect==0.8.0
typing-extensions==4.5.0
SQLAlchemy==2.0.19
git+https://github.com/langflow-ai/langflow.git@main
