fastapi==0.95.2
uvicorn==0.23.0
python-dotenv==1.0.0
pydantic==1.10.8


langchain==0.3.10
langchain-core==0.1.53
langchain-community==0.0.29
langchain-openai==0.0.8
openai==1.14.2
tiktoken==0.5.2

astrapy==0.7.0
SQLAlchemy==2.0.19
typing-inspect==0.8.0


git+https://github.com/langflow-ai/langflow.git@main
